* {
  box-sizing: border-box;
}

html, body, #app {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#app {
  display: flex;
  justify-content: center;

  font-family: Helvetica, sans-serif;
}

label {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}


